@using Microsoft.AspNetCore.Http
@* @{
    var usuarioId = ViewContext.HttpContext.Session.GetInt32("UsuarioId");
    var perfilId = ViewContext.HttpContext.Session.GetInt32("PerfilId");
    var usuarioNombre = ViewContext.HttpContext.Session.GetString("UsuarioNombre");
    var usuarioCargo = ViewContext.HttpContext.Session.GetString("UsuarioPerfil");

} *@

<!-- ========== App Menu ========== -->
<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <div class="navbar-brand-box">
        <!-- Dark Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-dark">
            <span class="logo-sm">
                <img src="~/assets/images/Icono.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/Icono.png" alt="" height="100">
            </span>
        </a>
        <!-- Light Logo-->
        <a href="@Url.Action("Index", "Home")" class="logo logo-light">
            <span class="logo-sm">
                <img src="~/assets/images/Icono.png" alt="" height="22">
            </span>
            <span class="logo-lg">
                <img src="~/assets/images/Icono.png" alt="" height="17">
            </span>
        </a>
        <button type="button" class="btn btn-sm p-0 fs-20 header-item float-end btn-vertical-sm-hover" id="vertical-hover">
            <i class="ri-record-circle-line"></i>
        </button>
    </div>

    <div id="scrollbar">
        <div class="container-fluid">

            <div id="two-column-menu"></div>
            <ul class="navbar-nav" id="navbar-nav">


                <!-- Dashboard -->
                <li class="nav-item">
                    <a class="nav-link menu-link" href="@Url.Action("Index", "Home")">
                        <i data-feather="home" class="icon-dual"></i> <span>Dashboard</span>
                    </a>
                </li>

                @*                  <!-- Inspecciones -->
                    <li class="nav-item">
                        <a class="nav-link menu-link" href="@Url.Action("RevisarSolicitudes", "Revision")">
                            <i data-feather="search" class="icon-dual"></i> <span>Revisión Solicitudes</span>
                        </a>
                    </li> *@




            </ul>
        </div>
    </div>
    <div class="sidebar-background"></div>
</div>
<!-- Left Sidebar End -->
<!-- Vertical Overlay-->
<div class="vertical-overlay"></div>
